# Core Computer Vision
opencv-python==4.9.0.80
numpy==1.26.4
Pillow==10.2.0

# Data Augmentation
albumentations==1.4.0

# Machine Learning
torch==2.2.1
torchvision==0.17.1
scikit-learn==1.4.1.post1
transformers==4.38.2

# GUI Interface
gradio==4.36.0

# Plotting and Visualization
matplotlib==3.8.3
seaborn==0.13.2

# Progress Bars
tqdm==4.66.2